.cabeçario {
    background-color: #eb417a;
    color: #f17dad;
    display: flex;
    justify-content: space-around;
    margin: 5px 0px;
    font-size: 20px;
}

.parte-azul {
    margin: 4px 6px;
   
}

img.parte-azul {
    width: 99%;
    background-color: #f17dad;
}

.imagem-perfil {
    display: inline-block;
    margin: -14px 36px;
}

.texto-1 {
    display: inline-block;
    margin: 0px 20px;
  }
 
  .imagem-perfil {
    display: inline-block;
    margin: -14px 36px;
  }

