:root {
    --laranja-claro: #f81492;
    --alto-contraste-fundo: #000000;
    --alto-contraste-texto: #ffffff;
    --alto-contraste-link: #ffd700;
}
header{
    background-color: #AC1754;
}






